::placeholder {
  color: #B2AEB9;
  font-weight: normal;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background-image: url("./assets/Components/Search_Bar/Source/reset.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}

input, button {
  font-family: inherit;
  color: inherit;
  outline-color: #7427F5;
  caret-color: #7427F5;
}

p {
  margin: 0;
}

body {
  scroll-behavior: smooth;
}

strong {
  font-weight: 800;
}